<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/chat.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
  <div class="case">
    <div class="container">
      <div class="left">
        <div class="top">
          <div class="tub">
            <div class="username">
              <img style="object-fit: cover; border-radius: 10%;"
                src="data:image/png;base64,<%= loggedInUser.profilePic %>" alt="Profile Picture" height="30px"
                width="30px" class="profile-pic">
              <%=loggedInUser.username%>
            </div>
          </div>

          
        </div>

        <div  class="conversations">
          <% allUsers.forEach(user=> { %>
            <div class="person" data-id="<%=user._id%>" data-username="<%= user.username %>" data-profilepic="<%= user.profilePic %>">
              <div class="box">
                <div class="image">
                  <img style="object-fit: cover;" src="data:image/png;base64,<%= user.profilePic %>"
                    alt="Profile Picture" height="50px" width="50px" class="profile-pic">
                </div>
                <% if(user.is_online=="1" ) { %>
                  <div class="online online-status" id="<%=user._id%>-status">💚</div>
                  <% } else { %>
                    <div class="online offline-status" id="<%=user._id%>-status">❤️</div>
                    <% } %>
              </div>

              <div class="information">
                <div class="username">
                  <%=user.username%>
                    <svg width="20px" height="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                      style="enable-background: new 0 0 100 100" xml:space="preserve">
                      <style type="text/css">
                        .st0 {
                          fill: #0084ff;
                        }

                        .st1 {
                          fill: none;
                          stroke: #0084ff;
                          stroke-miterlimit: 10;
                        }

                        .st2 {
                          fill: #ffffff;
                          stroke: #ffffff;
                          stroke-width: 0.25;
                          stroke-miterlimit: 10;
                        }
                      </style>
                      <g>
                        <path class="st0" d="M81.2,50c0,1.8-2.5,3.3-2.8,5c-0.3,1.7,1.5,4,1,5.7c-0.6,1.7-3.5,2.2-4.4,3.7c-0.9,1.5,0.1,4.3-1,5.7
                      c-1.1,1.3-4.1,0.9-5.4,2c-1.3,1.1-1.4,4.1-2.9,5c-1.5,0.9-4.1-0.6-5.7,0c-1.6,0.6-2.7,3.4-4.4,3.7c-1.7,0.3-3.6-1.9-5.4-1.9
                      c-1.8,0-3.7,2.2-5.4,1.9c-1.7-0.3-2.8-3.1-4.4-3.7c-1.7-0.6-4.2,0.8-5.8,0c-1.5-0.9-1.6-3.8-2.9-5c-1.3-1.1-4.3-0.7-5.4-2
                      c-1.1-1.3-0.2-4.1-1-5.7c-0.9-1.5-3.8-2.1-4.4-3.7c-0.6-1.6,1.3-3.9,1-5.7c-0.3-1.7-2.8-3.2-2.8-5c0-1.8,2.5-3.3,2.8-5
                      c0.3-1.7-1.5-4-1-5.7c0.6-1.7,3.5-2.2,4.4-3.7c0.9-1.5-0.1-4.3,1-5.7c1.1-1.3,4.1-0.9,5.4-2c1.3-1.1,1.4-4.1,2.9-5
                      c1.5-0.9,4.1,0.6,5.7,0c1.6-0.6,2.7-3.4,4.4-3.7c1.7-0.3,3.6,1.9,5.4,1.9c1.8,0,3.7-2.2,5.4-1.9c1.7,0.3,2.8,3.1,4.4,3.7
                      c1.7,0.6,4.2-0.8,5.8,0c1.5,0.9,1.6,3.8,2.9,5c1.3,1.1,4.3,0.7,5.4,2c1.1,1.3,0.2,4.1,1,5.7c0.9,1.5,3.8,2.1,4.4,3.7
                      c0.6,1.6-1.3,3.9-1,5.7C78.7,46.7,81.2,48.2,81.2,50z" />
                        <path class="st1" d="M81.2,50c0,1.8-2.5,3.3-2.8,5c-0.3,1.7,1.5,4,1,5.7c-0.6,1.7-3.5,2.2-4.4,3.7c-0.9,1.5,0.1,4.3-1,5.7
                      c-1.1,1.3-4.1,0.9-5.4,2c-1.3,1.1-1.4,4.1-2.9,5c-1.5,0.9-4.1-0.6-5.7,0c-1.6,0.6-2.7,3.4-4.4,3.7c-1.7,0.3-3.6-1.9-5.4-1.9
                      c-1.8,0-3.7,2.2-5.4,1.9c-1.7-0.3-2.8-3.1-4.4-3.7c-1.7-0.6-4.2,0.8-5.8,0c-1.5-0.9-1.6-3.8-2.9-5c-1.3-1.1-4.3-0.7-5.4-2
                      c-1.1-1.3-0.2-4.1-1-5.7c-0.9-1.5-3.8-2.1-4.4-3.7c-0.6-1.6,1.3-3.9,1-5.7c-0.3-1.7-2.8-3.2-2.8-5c0-1.8,2.5-3.3,2.8-5
                      c0.3-1.7-1.5-4-1-5.7c0.6-1.7,3.5-2.2,4.4-3.7c0.9-1.5-0.1-4.3,1-5.7c1.1-1.3,4.1-0.9,5.4-2c1.3-1.1,1.4-4.1,2.9-5
                      c1.5-0.9,4.1,0.6,5.7,0c1.6-0.6,2.7-3.4,4.4-3.7c1.7-0.3,3.6,1.9,5.4,1.9c1.8,0,3.7-2.2,5.4-1.9c1.7,0.3,2.8,3.1,4.4,3.7
                      c1.7,0.6,4.2-0.8,5.8,0c1.5,0.9,1.6,3.8,2.9,5c1.3,1.1,4.3,0.7,5.4,2c1.1,1.3,0.2,4.1,1,5.7c0.9,1.5,3.8,2.1,4.4,3.7
                      c0.6,1.6-1.3,3.9-1,5.7C78.7,46.7,81.2,48.2,81.2,50z" />
                      </g>
                      <g>
                        <rect x="50.7" y="33.5" transform="matrix(0.659 0.7521 -0.7521 0.659 55.6719 -23.4983)"
                          class="st2" width="6.1" height="32.3" />
                        <rect x="36.7" y="47" transform="matrix(0.7521 -0.659 0.659 0.7521 -26.4924 39.8687)"
                          class="st2" width="6.1" height="16.3" />
                      </g>
                    </svg>
                </div>
                <div class="content">
                  <div class="message">New Msg</div>
                  <div class="time">&bull; 1d</div>
                </div>
              </div>

              <div class="status">
                <!-- <div class="point"></div> -->
              </div>
            </div>
            <% }); %>

        </div>
      </div>

      <div style="display: none;" class="right">
        <div class="top">
          <div class="box">
            <div class="image">
              <img
                src="https://cdn2.bigcommerce.com/server5400/3po1k2/products/8171/images/14559/161_light_blue__46032.1418747956.1280.1280.jpg?c=2g"
                width="30px" height="30px" alt="" />
            </div>


            <div class="online"></div>
          </div>

          <div class="information">
            <div class="username">
              <a href="https://www.instagram.com/thecolorlesseyes/">thecolorlesseyes
                <svg width="20px" height="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                  style="enable-background: new 0 0 100 100" xml:space="preserve">
                  <style type="text/css">
                    .st0 {
                      fill: #0084ff;
                    }

                    .st1 {
                      fill: none;
                      stroke: #0084ff;
                      stroke-miterlimit: 10;
                    }

                    .st2 {
                      fill: #ffffff;
                      stroke: #ffffff;
                      stroke-width: 0.25;
                      stroke-miterlimit: 10;
                    }
                  </style>
                  <g>
                    <path class="st0" d="M81.2,50c0,1.8-2.5,3.3-2.8,5c-0.3,1.7,1.5,4,1,5.7c-0.6,1.7-3.5,2.2-4.4,3.7c-0.9,1.5,0.1,4.3-1,5.7
              c-1.1,1.3-4.1,0.9-5.4,2c-1.3,1.1-1.4,4.1-2.9,5c-1.5,0.9-4.1-0.6-5.7,0c-1.6,0.6-2.7,3.4-4.4,3.7c-1.7,0.3-3.6-1.9-5.4-1.9
              c-1.8,0-3.7,2.2-5.4,1.9c-1.7-0.3-2.8-3.1-4.4-3.7c-1.7-0.6-4.2,0.8-5.8,0c-1.5-0.9-1.6-3.8-2.9-5c-1.3-1.1-4.3-0.7-5.4-2
              c-1.1-1.3-0.2-4.1-1-5.7c-0.9-1.5-3.8-2.1-4.4-3.7c-0.6-1.6,1.3-3.9,1-5.7c-0.3-1.7-2.8-3.2-2.8-5c0-1.8,2.5-3.3,2.8-5
              c0.3-1.7-1.5-4-1-5.7c0.6-1.7,3.5-2.2,4.4-3.7c0.9-1.5-0.1-4.3,1-5.7c1.1-1.3,4.1-0.9,5.4-2c1.3-1.1,1.4-4.1,2.9-5
              c1.5-0.9,4.1,0.6,5.7,0c1.6-0.6,2.7-3.4,4.4-3.7c1.7-0.3,3.6,1.9,5.4,1.9c1.8,0,3.7-2.2,5.4-1.9c1.7,0.3,2.8,3.1,4.4,3.7
              c1.7,0.6,4.2-0.8,5.8,0c1.5,0.9,1.6,3.8,2.9,5c1.3,1.1,4.3,0.7,5.4,2c1.1,1.3,0.2,4.1,1,5.7c0.9,1.5,3.8,2.1,4.4,3.7
              c0.6,1.6-1.3,3.9-1,5.7C78.7,46.7,81.2,48.2,81.2,50z" />
                    <path class="st1" d="M81.2,50c0,1.8-2.5,3.3-2.8,5c-0.3,1.7,1.5,4,1,5.7c-0.6,1.7-3.5,2.2-4.4,3.7c-0.9,1.5,0.1,4.3-1,5.7
              c-1.1,1.3-4.1,0.9-5.4,2c-1.3,1.1-1.4,4.1-2.9,5c-1.5,0.9-4.1-0.6-5.7,0c-1.6,0.6-2.7,3.4-4.4,3.7c-1.7,0.3-3.6-1.9-5.4-1.9
              c-1.8,0-3.7,2.2-5.4,1.9c-1.7-0.3-2.8-3.1-4.4-3.7c-1.7-0.6-4.2,0.8-5.8,0c-1.5-0.9-1.6-3.8-2.9-5c-1.3-1.1-4.3-0.7-5.4-2
              c-1.1-1.3-0.2-4.1-1-5.7c-0.9-1.5-3.8-2.1-4.4-3.7c-0.6-1.6,1.3-3.9,1-5.7c-0.3-1.7-2.8-3.2-2.8-5c0-1.8,2.5-3.3,2.8-5
              c0.3-1.7-1.5-4-1-5.7c0.6-1.7,3.5-2.2,4.4-3.7c0.9-1.5-0.1-4.3,1-5.7c1.1-1.3,4.1-0.9,5.4-2c1.3-1.1,1.4-4.1,2.9-5
              c1.5-0.9,4.1,0.6,5.7,0c1.6-0.6,2.7-3.4,4.4-3.7c1.7-0.3,3.6,1.9,5.4,1.9c1.8,0,3.7-2.2,5.4-1.9c1.7,0.3,2.8,3.1,4.4,3.7
              c1.7,0.6,4.2-0.8,5.8,0c1.5,0.9,1.6,3.8,2.9,5c1.3,1.1,4.3,0.7,5.4,2c1.1,1.3,0.2,4.1,1,5.7c0.9,1.5,3.8,2.1,4.4,3.7
              c0.6,1.6-1.3,3.9-1,5.7C78.7,46.7,81.2,48.2,81.2,50z" />
                  </g>
                  <g>
                    <rect x="50.7" y="33.5" transform="matrix(0.659 0.7521 -0.7521 0.659 55.6719 -23.4983)" class="st2"
                      width="6.1" height="32.3" />
                    <rect x="36.7" y="47" transform="matrix(0.7521 -0.659 0.659 0.7521 -26.4924 39.8687)" class="st2"
                      width="6.1" height="16.3" />
                  </g>
                </svg>
              </a>
            </div>
            <div class="name">Active now</div>
          </div>

          <div class="options">
            <button class="info chatclose">
              <i style="font-size: 25px;" class="ri-close-circle-fill"></i>
            </button>
          </div>
        </div>

        <div class="middle">
          <div class="tumbler">
            <div class="messages">

            </div>

            <div class="seen">Seen</div>
          </div>
        </div>

        <div class="bottom">
          <div class="cup">
            <div class="picker">
              <svg width="25px" height="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                style="enable-background: new 0 0 100 100" xml:space="preserve">
                <style type="text/css">
                  .ep0 {
                    fill: #ffffff;
                    stroke: #000000;
                    stroke-width: 5;
                    stroke-miterlimit: 10;
                  }

                  .ep1 {
                    stroke: #000000;
                    stroke-width: 5;
                    stroke-miterlimit: 10;
                  }
                </style>
                <g>
                  <ellipse class="ep0" cx="50" cy="50" rx="38.7" ry="38.7" />
                  <path class="ep1"
                    d="M50,90c-22.2,0-40-18.1-40-40s17.8-40,40-40s40,18.1,40,40S72.2,90,50,90z M50,12.6
                                 c-20.6,0-37.5,16.8-37.5,37.4S29.4,87.4,50,87.4S87.5,70.6,87.5,50S70.6,12.6,50,12.6z" />
                </g>
                <path class="ep0" d="M63.5,62.4c0,3.4-6.1,6.2-13.5,6.2s-13.5-2.8-13.5-6.2" />
                <ellipse class="ep1" cx="36.8" cy="45.9" rx="2.3" ry="2.3" />
                <ellipse class="ep1" cx="62.2" cy="45.9" rx="2.3" ry="2.3" />
              </svg>
            </div>

            <form action="" id="chat-form">
              <input id="message" cols="30" rows="1" placeholder="Message..." type="text">
              <!-- <textarea ></textarea> -->
              <button class="send">Send</button>
            </form>
            <div class="picker photo">
              <svg width="25px" height="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40"
                style="enable-background: new 0 0 40 40" xml:space="preserve">
                <style type="text/css">
                  .ip0 {
                    fill: #ffffff;
                    stroke: #000000;
                    stroke-width: 3;
                    stroke-miterlimit: 10;
                  }

                  .ip1 {
                    stroke: #000000;
                    stroke-miterlimit: 10;
                  }
                </style>
                <path class="ip0" d="M31.3,35.1H8.7c-2.9,0-5.2-2.3-5.2-5.2V10.1c0-2.9,2.3-5.2,5.2-5.2h22.6c2.9,0,5.2,2.3,5.2,5.2v19.8
                             C36.5,32.8,34.2,35.1,31.3,35.1z" />
                <polyline class="ip0" points="3.5,32.2 13.4,23.7 18,27.9 29.3,18.6 36.5,24.8 " />
                <ellipse class="ip1" cx="10.7" cy="12.3" rx="1.6" ry="1.5" />
              </svg>
            </div>

            <div class="picker photo">
              <svg width="25px" height="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                style="enable-background: new 0 0 100 100" xml:space="preserve">
                <style type="text/css">
                  .ht0 {
                    fill: #ffffff;
                    stroke: #000000;
                    stroke-width: 8;
                    stroke-miterlimit: 10;
                  }
                </style>
                <path class="ht0"
                  d="M84.7,21.2c-3.6-3.9-8.3-5.8-13.1-5.8c-4.7,0-9.3,1.9-12.9,5.6L50,30.1l-8.6-9.2c-3.6-3.9-8.3-5.8-13.1-5.8
                             c-4.6,0-9.3,1.9-12.9,5.6c-7.2,7.5-7.3,19.8-0.2,27.5l8.6,9.2L49.6,85l26.2-27.2l8.7-9.1C91.7,41.2,91.8,28.9,84.7,21.2z" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="deleteChatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Chat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="delete-chat-form">
      <div class="modal-body">
        <input type="hidden" name="id" id="delete-message-id">
        <p>Are you sure a delete a below message</p>
        <p><b id="delete-message"></b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- update chat modal -->
<div class="modal fade" id="updateChatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Chat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="update-chat-form">
      <div class="modal-body">
        <input type="hidden" name="id" id="edit-message-id">
        <input type="text" name="message" id="update-message" required placeholder="Enter Message">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
      </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <!-- Include the Socket.IO client library -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- Your client-side JavaScript code -->
  <script>
    var sender_id = '<%= loggedInUser._id %>';
    var receiver_id;

    // Establish a connection to the Socket.IO server
    var socket = io();

    // Emit the userConnected event and pass the sender_id
    socket.on('connect', function () {
      console.log('Connected to server');
      socket.emit('userConnected', { userId: sender_id });
    });

    // Handle disconnect event
    socket.on('disconnect', function () {
      console.log('Disconnected from server');
    });

    socket.on('userOnline', function (data) {
      updateStatus(data.user_Id, 'online');
    });

    socket.on('userOffline', function (data) {
      updateStatus(data.user_Id, 'offline');
    });

    function updateStatus(userId, status) {
      const statusElement = document.getElementById(`${userId}-status`);

      if (status === 'online') {
        statusElement.innerText = '💚';
        statusElement.classList.remove('offline-status');
        statusElement.classList.add('online-status');
      } else if (status === 'offline') {
        statusElement.innerText = '❤️';
        statusElement.classList.remove('online-status');
        statusElement.classList.add('offline-status');
      }
    }

    $('.person').click(function () {
    var userId = $(this).data('id');
    var username = $(this).data('username');
    var profilePic = $(this).data('profilepic');

    if (receiver_id !== userId) {
      // Update user details only if clicking on a different person
      receiver_id = userId;
      displayUserDetails(userId, username, profilePic);
    }

    $(".right").show(); // Ensure .right is visible
    socket.emit('existsChat', { sender_id: sender_id, receiver_id: receiver_id });
  });

  $('.chatclose').click(function () {
    $(".right").hide();
  });


 function displayUserDetails(userId, username, profilePic) {
    $(".right .top .image img").attr("src", "data:image/png;base64," + profilePic);
    $(".right .username a").attr("href", "/profile/" + username);
    $(".right .username a").text(username);
    // Add logic to handle other user details
  }


$("#chat-form").submit(function (event) {
  event.preventDefault();

  // Check if receiver_id is defined
  if (!receiver_id) {
    console.error('Receiver ID is not defined.');
    return;
  }

  var message = $("#message").val();

  $.ajax({
    url: '/save-chat',
    type: 'POST',
    data: { sender_id: sender_id, receiver_id: receiver_id, message: message },
    success: function (response) {
      if (response.success) {
        console.log(response.data.message);
        $("#message").val("");

        let chat = response.data.message;

        // Check if the current user is either the sender or receiver
        if (sender_id == response.data.sender_id || sender_id == response.data.receiver_id) {
          let html = `<div class="clip sent" id="`+response.data._id+`">
                        <div class="text"> <span>${chat}</span>
                          <i class="ri-delete-bin-5-line" data-id="`+response.data._id+`" data-toggle="modal" data-target="#deleteChatModal"></i>
                          <i class="ri-file-edit-line" data-msg="`+chat+`" data-id="`+response.data._id+`" data-toggle="modal" data-target="#updateChatModal"></i>
                          </div>
                      </div>`;

          // Append the chat message HTML to your chat container
          // Adjust the selector according to your HTML structure
          $('.messages').append(html);
          
          // Optionally, scroll to the bottom of the chat container
          // Adjust the selector according to your HTML structure
          // $('.messages').scrollTop($('.messages')[0].scrollHeight);
        }

        socket.emit('newChat', response.data);
      } else {
        alert(response.msg);
      }
    }
  });
});

socket.on('loadNewChat', function (data) {
  if ((sender_id == data.sender_id && receiver_id == data.receiver_id) || (sender_id == data.receiver_id && receiver_id == data.sender_id)) {
    let html = `<div class="clip received" id="`+data._id+`">
                  <div class="text"><span>${data.message}</span></div>
                </div>`;
    $('.messages').append(html);
  }
});

socket.on('loadChats', function(data){
  $('.messages').html("")
  var chats = data.chats
  let html = '';

  for (let x = 0; x < chats.length; x++) {
    let addClass = "";
    let deleteIcon = "";
    let editIcon = "";

    if (chats[x]['sender_id'] == sender_id) {
      addClass = "sent"
      editIcon = `<i class="ri-file-edit-line" data-msg="${chats[x]['message']}" data-id="${chats[x]['_id']}" data-toggle="modal" data-target="#updateChatModal"></i>`
      deleteIcon = `<i class="ri-delete-bin-5-line" data-id="${chats[x]['_id']}" data-toggle="modal" data-target="#deleteChatModal"></i>`;
    }
    else{
      addClass = "received"
    }

    html +=`
    <div class="clip `+addClass+`" data-id="${chats[x]['_id']}">
                  <div class="text"><span>`+chats[x]['message']+`</span>${deleteIcon}${editIcon}</div>
                </div>
    `
    
  }
  $('.messages').append(html)
})

$(document).on('click', '.ri-delete-bin-5-line', function () {
  let msg = $(this).parent().text();
  $("#delete-message").text(msg);
  $("#delete-message-id").val($(this).attr('data-id'));
});

// Client-side code
$("#delete-chat-form").submit(function (event) {
  event.preventDefault();
  var id = $("#delete-message-id").val();

  $.ajax({
    url: '/delete-chat',
    type: "POST",
    data: { id: id },
    success: function (res) {
      if (res.success == true) {
        $("#" + id).remove();
        $("#deleteChatModal").modal("hide");
        socket.emit('chatDeleted', id);  // Emit deletion event to the server
      } else {
        alert(res.msg);
      }
    }
  });
});




//update user chat

$(document).on('click', '.ri-file-edit-line', function () {
  $('#edit-message-id').val($(this).attr('data-id'));
  $('#update-message').val($(this).attr('data-msg'));
});

// Sender side
$("#update-chat-form").submit(function (event) {
  event.preventDefault();
  var id = $("#edit-message-id").val();
  var msg = $("#update-message").val();

  // Update UI immediately
  $('#' + id).find("span").text(msg);
  $('.received[data-id="' + id + '"]').find("span").text(msg);
  $('.sent[data-id="' + id + '"]').find("span").text(msg);
  $('.sent[data-id="' + id + '"]').find(".ri-file-edit-line").attr("data-msg",msg);
  // Optionally hide the update modal if needed
  $("#updateChatModal").modal("hide");

  $.ajax({
    url: '/update-chat',
    type: "POST",
    data: { id: id, message: msg },
    success: function (res) {
      if (res.success != true) {
        alert(res.msg);
      }
    }
  });

  // Emit Socket.IO event for real-time update
  socket.emit('chatUpdated', { id: id, message: msg });
});


// Client-side code
// Client-side code
// Update chat message
// Update chat message
socket.on("chatMessageUpdated", function (data) {
  const messageId = data.id;

  // Update the message content in the UI
  $('.received[data-id="' + messageId + '"]').find("span").text(data.message);
  $('.sent[data-id="' + messageId + '"]').find("span").text(data.message);
  $('#' + messageId).find("span").text(data.message);

    // Update the message in the update chat modal if it's open
    if ($("#edit-message-id").val() === messageId) {
    console.log('Updating message in the modal:', data.message);
    $("#update-message").val(data.message);
  }
  // Optionally hide the update modal if needed
  $("#updateChatModal").modal("hide");
});


// Delete chat message
socket.on("chatMessageDeleted", function (id) {
  // Remove the deleted message from the UI
  $('.received[data-id="' + id + '"]').remove();
  $('.sent[data-id="' + id + '"]').remove();
  $('#' + id).remove();

  // Optionally hide the delete modal if needed
  $("#deleteChatModal").modal("hide");
});


  </script>


</body>

</html>